form(action='/signup', method='post')
                        .sign-up-htm
                            .group
                                label.label(for='user') Username
                                |  
                                input#user.input(name='name', type='text')
                            .group
                                label.label(for='password') Email Address
                                |  
                                input#password.input(name='email', type='text')
                            .group
                                label.label(for='password') Password
                                |  
                                input#password.input(name= 'password', type='password', required, data-type='password')
                            .group
                                label.label(for='pass') Repeat Password
                                |  
                                input#password.input(type='password',required, data-type='password')
                            .group
                                input.button(type='submit', value='Sign Up' id='submit')