doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Create a Post
        link(rel='stylesheet', href='/static/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/css/navbar.css')
        link(rel='stylesheet', href='/static/css/create_post.css')

    body
        .menu-collapsed
            .bar
            nav
                ul
                    li
                        span
                            a(href='/profile') Home
                    li
                        span
                            a.active(href='#') Create a Post
                    li
                        span
                            a(href='/own_posts') See Own Posts
                    li
                        span
                            a(href='/all_posts') See All Posts
                    li
                        span
                            a(href='/logout') Log Out
    #contact-me.contact.center
        .container
            .title
                h2.h2 Create a post
                .heading-line
            .row.form-wrapper
                .col-md-8.col-md-offset-2
                    form#contact-form(action='/create_post', method='post' role='form', novalidate='true')
                        .form-group.has-feedback
                            label.label(for='name') Your Name
                            | 
                            input#name.form-control(type='text', name='name', data-error='Please, Enter Your Name.', required='')
                            span.help-block.with-errors
                        .form-group.has-feedback
                            label.label(for='mail') Your E-mail
                            |
                            input#mail.form-control(type='email', name='email', required='')
                            span.help-block.with-errors
                        .form-group.has-feedback
                            label.label(for='message') Place Message Here
                            |
                            textarea#message.form-control(name='message', data-error='Please, Type Your Message', required='')
                            span.help-block.with-errors
                        .submit-container
                            button.btn.submit(type='submit', value='Sign Up' id='submit') Send Your Message
                        p.form-response
        script(src="/static/js/jquery-3.1.1.min.js")
        script(src="/static/js/navbar.js") 

